.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.graph {
  overflow: auto;
}

.bg--green {
  background: #02a23f;
  color: var(--color--k-10);
}

.food-element {
  padding: 20px 0;
  border-bottom: 1px solid #999;
  overflow-x: auto;
}